---
import BlobCursorFollower from "@/components/global/BlobCursorFollower.astro";
import BaseHead from "@components/BaseHead.astro";
import { AstroSeo, type AstroSeoProps } from "@astrolib/seo";
import { getLangFromUrl } from "../i18n/utils";

const { pathname } = Astro.url;

type Props = {
  seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;
const lang = getLangFromUrl(Astro.url);

const defaultSeo: AstroSeoProps = {
  title: "Arbor Summer Camp",
  description: "A container for the ecosystem surrounding Lighthaven to run intimate, multi-day events in the most target-rich environment that exists for them, anywhere in the world, any time in the year.",
  canonical: "https://arborsummer.camp",
};

const seo = {
  ...defaultSeo,
  ...seoProp,
};
---

<html lang={lang}>
  <head>
    <BaseHead />
    <AstroSeo {...seo} />
  </head>
  <body class="bg-slate-50">
    <!--{<BlobCursorFollower />}-->
    <slot />
  </body>
</html> 