---
import Newsletter from "@components/blog/Newsletter.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import { Icon } from "astro-icon/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="section gap-y-10 py-3">
	<div class="relative mt-4 flex w-full items-end justify-between gap-y-4 text-sm lg:text-xl lg:font-normal">
		<div>©2025 ARBOR</div>
		<!-- https://codepen.io/fliseno1k/pen/WNboLBy -->
		<button
			id="go-top-button"
			aria-label="Go to Top"
			class="fill-transparent transition-colors duration-300 hover:fill-black hover:text-white"
			data-cursor-hover
			data-cursor-parallax>
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
				<g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="12" cy="12" r="9"></circle><path d="m15 12l-3-3m0 0l-3 3m3-3v6"></path>
				</g>
			</svg>
		</button>

		<!-- Scroll Up Arrow -->
	</div>
</footer>

<style>
	footer {
		@apply relative flex w-full flex-col;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	function init() {
		var goTopButton = document.getElementById("go-top-button");

		if (!goTopButton) return;

		goTopButton.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: 0 });
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
